<link rel="stylesheet" href="/styles.css">

<footer class="footerDiv">

    <div class="footerEnd">
        <div>
            <a href="#" id="cnn">Smart Phones</a>
            <a href="#">About Us</a>
        </div>
        <div>
            <a href="#">Follow Smart Phones</a>
            <img src="/images/facebook.png" alt="" class="icon">
            <img src="/images/instagram.png" alt="" class="icon">
            <img src="/images/tiktok.png" alt="" class="icon">
            <img src="/images/linkedin.png" alt="" class="icon">
        </div>
    </div>



    <hr>

    <div class="copyright">
        &copy; Store
    </div>


</footer>
<script src="/scripts.js"></script>
</body>
</html>
