<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SMART PHONES</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <header>
        <div class="header-primary">
            <img src="/images/icons8-menu-40.png" alt="logo">
            <h1>SMART PHONES</h1>
        </div>
        <div class="header-primary-bottom">
            <a href="/"><img src="images/icons8-home-48.png" alt="home"></a>
            <a href="/cart"><img src="images/icons8-cart-40.png" alt="cart"></a>
        </div>
    </header>
